<h1 style="background-color: #1d94ff; color:white"><img src="assets/mtag_weiss_klein_logo" alt="MT AG">

  <mat-form-field appearance="fill">
    <mat-label style="alignment: right">Select me</mat-label>
    <mat-select>
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>


</h1>

<mat-tab-group mat-align-tabs="center">

  <mat-tab label="Übersicht">

    <app-table></app-table>

  </mat-tab>


  <mat-tab label="Angebot erstellen">

    <app-create-offer></app-create-offer>

  </mat-tab>


  <mat-tab label="Textbausteine verwalten">

  </mat-tab>

</mat-tab-group>


