<mat-accordion style="text-align: center; alignment-baseline: center">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <br> Kunde o. Kunden
      </mat-panel-title>
      <mat-panel-description>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Unternehmensname + Rechtsform</mat-label>
            <input matInput placeholder="z.B. SAP">
          </mat-form-field>
        </form>

        <br>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Abteilung u./o. Name</mat-label>
            <input matInput placeholder="z.B. Management">
          </mat-form-field>
        </form>

        <br>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Straße / Postfach</mat-label>
            <input matInput placeholder="z.B. Berliner Str.">
          </mat-form-field>
        </form>

        <br>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>PLZ und Ort</mat-label>
            <input matInput placeholder="z.B. 40878 Ratingen">
          </mat-form-field>
        </form>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Bitte hier alle verfügbaren Informationen eintragen!</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <br> Angebotsersteller
      </mat-panel-title>
      <mat-panel-description>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="z.B. Max Mustermann">
          </mat-form-field>
        </form>

        <br>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Abteilung</mat-label>
            <input matInput placeholder="z.B. Management">
          </mat-form-field>
        </form>

        <br>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefon</mat-label>
            <input matInput placeholder="z. B.+49 .....">
          </mat-form-field>
        </form>

        <br>

        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>E-mail Adresse</mat-label>
            <input matInput placeholder="z.B. max@mustermann@gmx.de">
          </mat-form-field>
        </form>

      </mat-panel-description>
    </mat-expansion-panel-header>
    <p> Bitte Ihre persönlichen Daten überprüfen!</p>
  </mat-expansion-panel>
</mat-accordion>

