<h1>Konditionen</h1>

<p style="text-decoration: underline">Einsatzbeginn: </p>

<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<p style="text-decoration: underline">Einsatzende:</p>

<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<p style="text-decoration: underline">Einsatzort beim Kunden:</p>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ort (des Kunden)</mat-label>
    <input matInput placeholder="z.B. Düsseldorf">
  </mat-form-field>
</form>

<p style="text-decoration: underline">Arbeitsumfang: </p>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Anzahl der Projekttage</mat-label>
    <input matInput placeholder="z.B. 7">
  </mat-form-field>
</form>


<p style="text-decoration: underline">Vergütung:</p>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>€ pro Leistungsstunde (zzgl. MwSt.)</mat-label>
    <input matInput placeholder="z.B. 39€">
  </mat-form-field>
</form>

<p style="text-decoration: underline">Nebenkosten für Einsatzorte:</p>
<mat-checkbox class="example-margin">In Vergütung enthalten</mat-checkbox>
<br>
<mat-checkbox class="example-margin">fallen zusätzlich an</mat-checkbox>

<br>

<p style="text-decoration: underline">Gültigkeitsdatum des Angebots: </p>

<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<p style="text-decoration: underline">Geltende AGBs: </p>

<mat-checkbox class="example-margin">Dienstvertrag</mat-checkbox>
<br>
<mat-checkbox class="example-margin">Werkvertrag</mat-checkbox>

<br>

<app-buttons></app-buttons>
